.header {
  background-color: transparent;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 22;

  .filter {
    float: left;
    width: 50%;

    &--date {
      left: 50%;
      position: absolute;
      top: 10px;
      transform: translate(-50%, 0);
    }

    &--item {
      float: left;
      margin: 0 0 10px;
      width: 100%;

      &.slider {
        > label {
          float: right;
        }
      }
    }

    .input-range {
      float: right;
    }
  }
}