/* The switch - the box around the slider */
.switch {
  display: inline-block;
  height: 8px;
  pointer-events: auto;
  position: relative;
  width: 35px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

/* The slider */
.slider {
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  transition: .4s;
  width: 100%;

  &:before,
  &:after {
    background-color: white;
    content: '';
    position: absolute;
  }

  &:before {
    border-radius: 100%;
    bottom: 0;
    height: 8px;
    left: 0;
    transition: .4s;
    width: 8px;
  }

  &:after {
    height: 1px;
    left: 4px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: calc(100% - 8px);
  }
}

input:checked + .slider:before {
  transform: translateX(28px);
}
