.input-range {
  display: block;
  width: 140px;

  &--slider {
    appearance: none;
    background-color: transparent;
    height: 10px;
    opacity: 1;
    position: relative;
    transition: opacity .2s;
    width: 100%;

    &:before,
    &:after {
      background-color: white;
      content: '';
      position: absolute;
    }

    &:after {
      height: 1px;
      left: 4px;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      width: calc(100% - 8px);
    }

    &::-webkit-slider-thumb {
      appearance: none;
      background: white;
      border-radius: 100%;
      cursor: pointer;
      height: 8px;
      width: 8px;
    }
  }
}