html,
body,
body * {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

html,
body {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  vertical-align: top;
}

html {
  overflow: hidden;
  overflow-y: auto;
}

body {
  background-color: #262B2F;
  height: auto;
  font-family: 'Roboto Condensed', 'sans-serif';
  min-height: 100vh;
  overflow: hidden;
  overflow-anchor: none;
  width: 100vw;
}

script,
style,
link {
  display: none;
}

#root {
  min-height: 100vh;
  float: left;
  width: 100%;
}

canvas {
  float: left;
  height: 100%;
  width: 100%;
}

#starmap {
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
}