.footer {
  bottom: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  width: 100%;

  svg {
    bottom: 10px;
    right: 10px;
    position: absolute;
    width: 90px;
  }
  
  button {
    background-color: transparent;
    border: none;
    font-family: 'Roboto Condensed';
    font-size: 10px;
    float: left;
  }
}